<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">
</head>
<body>
    <h1>Welcome to my App</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At blanditiis veritatis necessitatibus modi qui doloremque? Repellat dolorum veniam quisquam nemo eaque assumenda rerum libero, distinctio vel fugiat neque quod odit.</p>
</body>
</html>